.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.quiz-answer {
  margin-top: 4px;
}

.quiz-question {
  max-width: 800px;
  width:100%;
}

.quiz-answer label {
  cursor: pointer;
}

.quiz-answer label:hover {
  color: gray;
}

.quiz-answers {
  min-width: 800px;
  width:100%;
  text-align: left;
  margin-top: 16px;

}

.quiz-question {
  text-align: left;
}

.quiz-description {
  letter-spacing: 2px;
  text-align: left;
  font-size: 14px;
  margin: 32px 0;
}

.question-explanation {
  padding: 24px 0;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.add-photos {
  margin-top: 32px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.preview-photo > img {
  width: 100px;
  height: 100px;
}

.question-image > img {
  width: 100px;
  height: 100px;
}

.quiz {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quiz > .question {
  min-height: 600px;
}

.quiz > .control-panel {
  width: 100%;
}

.quiz-image > img {
  width: 100%;
  object-fit: contain;
  max-height: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
